@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Meow+Script&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


:root {
    --main-font-family: 'Fira Code';
    /*--body-font-family: "Poppins", sans-serif;*/
    --large-text-color: linear-gradient(to right, #f8b195, #f67280, #c06c84);
    --main-colorful-color: linear-gradient(to right, rgba(0, 157, 255), rgb(255, 0, 255));
    --main-bg-color: #16161a;
    --main-nav-bg-color: #16161a;
    --white-bg-color: #fffffe;
    --lt-box-shadow: 0 1px 60px 1px rgba(0, 0, 0, 0.3);
    --lt-skill-box-shadow: 0 1px 1px 1px rgba(182, 175, 175, 0.3);
    /* Dark Mode */
    --dk-primary-bg-color: #16161a;
    --dk-secondary-bg-color: #242629;
    --dk-primary-text-color: #fffffe;
    --dk-paragraph-color: #94a1b2;
    --dk-box-shadow: 0 1px 60px 1px rgba(0, 0, 0, 0.6);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}


body {
    font-family: 'Rubik', sans-serif;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: var(--white-bg-color);
}

body.dark-mode {
    background-color: var(--dk-primary-bg-color);
    color: var(--dk-primary-text-color);
}

body.dark-mode .nav-header {
    background-color: var(--dk-secondary-bg-color);
}
body.dark-mode .nav-header .link {
    color: var(--dk-primary-text-color);
}

body.dark-mode .mode-switcher{
    color: var(--dk-primary-text-color);
}

body.dark-mode .visit-github .github-btn:hover {
    color: var(--dk-primary-text-color);
}

body.dark-mode .project-card {
    border: none;
    /*box-shadow: 0 3px 3px rgba(0, 0, 0, 0.6);*/
    box-shadow: var(--dk-box-shadow);
    background-color: var(--dk-secondary-bg-color);
    color: #fffffe
}

body.dark-mode section {
    color: var(--dk-primary-text-color);
}

body.dark-mode .home-wrapper {
    color: var(--dk-paragraph-color);
}

body.dark-mode .btn {
    color: var(--dk-primary-text-color);
    border-color: var(--dk-primary-text-color);
}

body.dark-mode .btn:hover {
    background-color: var(--dk-primary-text-color);
    color: var(--dk-primary-bg-color);
}

body.dark-mode .about-wrapper {
    color: var(--dk-paragraph-color);
}

body.dark-mode .social-icon-group i {
    color: white;
}

body.dark-mode .skill-wrapper {
    color: var(--dk-paragraph-color);
    background-color: var(--dk-secondary-bg-color);
    border: none;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.6);
}

body.dark-mode .project-card .project-description {
    color: var(--dk-paragraph-color);
}

body.dark-mode .footer-wrapper .nav-list .link {
    color: var(--dk-primary-text-color);
}

body.dark-mode .tech-stack-wrapper {
    border: 1px solid white;
    color: var(--dk-paragraph-color);
}

body.dark-mode .project-card:hover .tech-stack-wrapper:hover {
    /*background-color: #fffffe;*/
    color: #000000;
}


#root {
    width: 100%;
}

.mode-switcher {
    cursor: pointer;
}

.nav-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2.5rem;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    /*background-color: rgba(0, 0, 0, 0.8);*/
    background-color: var(--white-bg-color);
    color: black;
    z-index: 100;
    backdrop-filter: blur(8px);
    box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 3px;
}


.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.list {
    list-style: none;
}

.nav-menu {
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}


.link {
    text-decoration: none;
    color: black;
}

.logo {
    font-weight: bold;
    font-size: 2.3rem;
}

.nav-item {
    position: relative;
}

.nav-item .nav-link::before {
    position: absolute;
    content: "";
    top: 20px;
    left: 0;
    width: 0;
    height: 5px;
    background: var(--main-colorful-color);
    transition: 0.3s ease;
    border-radius: 5px;
    color: white;
}

.nav-item .nav-link:hover::before {
    width: 100%;
}

.main-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {

    padding: 8rem 12%;
    /*height: 100vh;*/
    /*background-color: darkcyan;*/
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}

.btn {
    font-size: 1.5rem;
    border: 2px solid black;
    padding: 0.8rem 2.8rem;
    border-radius: 5rem;
    color: black;
    transition: 0.3s ease;
    cursor: pointer;
    /*background-color: white;*/
    display: block;
    text-align: center;
    width: fit-content;
}

.btn:hover {
    background-color: black;
    color: white;
}

.github-btn {
    padding: 1.3rem 2.8rem;
    border: none;
    background: var(--main-colorful-color);
    color: white;
}

.github-btn:hover {
    background: linear-gradient(to left, rgba(0, 157, 255), rgb(255, 0, 255));;
}

.section-wrapper {
    /*padding: 8rem 12%;*/
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.name {
    font-size: 8rem;
    background: var(--large-text-color);
    background-clip: text;
    color: transparent;
}

.logo-hidden {
    display: none;
}

.home-wrapper .right-side {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding-top: 5rem;
}


.btn-group {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.hero-description {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.role-design {
    font-weight: bold;
    background: var(--large-text-color);
    background-clip: text;
    color: transparent;
}


.icon-wrapper {
    font-size: 1.3rem;
    margin: 0.5rem;
}

.intro-msg {
    font-size: 4rem;
    /*color: #355c7d;*/
}

.social-icon-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.social-icon-group .link {
    color: black;
    font-size: 4rem;
    transition: 0.3s ease;
}

.social-icon-group .link:hover {
    transform: scale(1.2);
}

/* About */
.about-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    font-size: 1.8rem;
    gap: 10rem;
}

.about-profile-pic {
    width: 40rem;
    height: 50rem;
    object-fit: cover;
}

.about-wrapper .left-side {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
}

.section-title {
    background: var(--large-text-color);
    background-clip: text;
    color: transparent;
    font-size: 5rem;
}


.skill-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.skill-set-group {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.skill-set {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 3rem;
    flex-wrap: wrap;
}


.skill-wrapper {
    display: flex;
    flex-direction: row;
    /*border: 1px solid black;*/
    border: none;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    /*background-color: #16161a;*/
    transition: 0.3s ease;
    cursor: pointer;
    /*box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 3px;*/
    box-shadow: var(--lt-skill-box-shadow);
}

.skill-wrapper:hover {
    transform: translateY(-5px) scale(1.03);
    background-color: black;
    color: white;
}

.skill-group-title {
    background: var(--main-colorful-color);
    color: transparent;
    background-clip: text;
    font-size: 2.5rem;
}

#skills i {
    font-size: 4rem;
}

#skills img {
    width: 3.7rem;

}


/* Contact */


.contact-group {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.footer-group {
    gap: 3rem;
}

.copyright-text {
    font-size: 1.2rem;
}

.footer-wrapper .nav-item {
    font-size: 1.5rem;
}

footer {
    padding-bottom: 5rem;
}

/* projects */
#projects {
    font-size: 1.5rem;
}


.projects-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.project-groups {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    border: 1px solid black;
}

.project-divider {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.project-group-title {
    background: var(--main-colorful-color);
    color: transparent;
    background-clip: text;
    font-size: 2.5rem;
}

.project-group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    width: 100%;
    gap: 3rem;
}

.project-card {
    /*border: 2px solid black;*/
    box-shadow: var(--lt-box-shadow);
    border: none;
    padding: 3rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    border-radius: 5rem;
    transition: 0.3s ease;
    cursor: pointer;
    /*font-family: Poppins, serif;*/
}

.project-card:hover {
    transform: translateY(-10px) scale(1.02);
    background-color: black;
    color: white;
}

.project-card:hover .btn {
    border-color: white;
    color: white;
}

.project-card:hover .btn:hover {
    background-color: white;
    color: black;
}


.project-img {
    display: block;
    width: 100%;
    border-radius: 3rem;
}

/*.project-btn-group {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    width: 100%;*/
/*    gap: 1rem;*/
/*}*/
.project-btn-group {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-items: center;
    align-items: center;
    gap: 1rem;

}


/*.project-card .btn {*/
/*    padding: 0.5rem 1.5rem;*/

/*}*/

.project-description {
    font-size: 1.3rem;
    font-family: 'Rubik', sans-serif;
}

.project-title {
    font-size: 2.5rem;
}

.project-tech-group {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.tech-stack-wrapper {
    border: 1px solid black;
    padding: 0.3rem 1rem;
    font-size: 1rem;
    border-radius: 0.8rem;
    color: #121212;
    cursor: pointer;
}

.project-card:hover .tech-stack-wrapper {
    border: 1px solid white;
    color: #fffffe;
}
.project-card:hover .tech-stack-wrapper:hover {
    background-color: #fffffe;
    color: #000000;
}


#menu-icon {
    display: none;
}


@media (min-width: 1280px) {
    .project-group {
        grid-template-columns: repeat(3, minmax(300px, 1fr));

    }
}

@media (max-width: 1280px) {
    html {
        font-size: 60%;
    }

    body.dark-mode .nav-header i {
        color: var(--dk-primary-text-color);
    }


    body.dark-mode .nav-header .link{
        color: var(--dk-primary-text-color);
    }

    .nav-item .nav-link::before {
        content: "";
        top: 60px;
        left: 0;
        width: 0;
        height: 5px;
        background: var(--main-colorful-color);
    }
}

@media (max-width: 880px) {
    .home-wrapper {
        padding-top: 5rem;
    }

    body.dark-mode .nav-list {
        background-color: var(--dk-primary-bg-color);
    }

    .about-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hero-description {
        width: 100%;
    }


    .nav-header .nav-list {
        display: none;
    }

    #menu-icon {
        display: block;
    }

    .nav-menu .active {
        display: block;
    }

    .active .nav-list {
        display: flex;
        flex-direction: column;
        width: 100%;
        font-size: 4rem;
        height: 50vh;
        justify-content: center;
        align-items: center;
    }

    section {
        padding: 3rem 10%;
        gap: 2rem;
    }

    /*.project-btn-group {*/
    /*    flex-direction: column;*/
    /*    gap: 1rem;*/
    /*}*/

    .project-title {
        font-size: 1.8rem;
    }

    .nav-menu .active {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #fffffe;
        font-size: 4rem;
        transition: 0.3s ease;
    }

    #menu-icon {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translate(-50%, -50%);
    }

    .visit-github {
        padding-right: 5rem;
    }

}

@media (max-width: 768px) {

    .home-wrapper {
        padding-top: 5rem;
    }

    section {
        padding: 3rem 5%;
    }

    .hero-description {
        width: 100%;
    }

    .about-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


}


@media (max-width: 600px) {

    .html {
        font-size: 50%;
    }

    section {
        padding: 1rem 2rem;
        gap: 4rem;
    }


    .logo .logo-active {
        display: none;
    }

    .logo-hidden {
        display: block;
        background-color: black;
        color: white;
        border-radius: 50%;
        padding: 0.5rem;
        border: 1px solid black;
    }


    .home-wrapper {
        flex-direction: column;
        padding-top: 4rem;
    }

    .intro-msg {
        font-size: 3rem;
    }

    .name {
        font-size: 4rem;
    }

    .hero-description {
        width: 100%;
    }

    .skill-set {
        flex-direction: column;
    }

    .skill-set-group {
        width: 100%;
    }

    .skill-wrapper {
        width: 100%;
    }

    #contact {
        text-align: center;
        padding-bottom: 4rem;
    }

    .footer-wrapper .nav-list {
        flex-direction: column;
        gap: 1.5rem;
    }

    .nav-item .nav-link::before {
        content: "";
        top: 50px;
        left: 0;
        width: 0;
        height: 5px;
        background: var(--main-colorful-color);
    }


    .main-wrapper {
        gap: 4rem;
    }

    .section-title {
        font-size: 4rem;
    }

    .github-btn {
        display: none;
    }

    .nav-menu {
        gap: 1rem;
    }

    .home-wrapper .right-side {
        justify-content: center;
        align-items: center;
    }

    .about-wrapper .left-side {
        justify-content: center;
        align-items: center;
    }
}

